<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDk41Jwtwi2u4R8WEHoVOsMRZb36howCtw</string>
	<key>GCM_SENDER_ID</key>
	<string>726847533270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodPanda</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapppranav</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapppranav.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726847533270:ios:602b4d3bb695eb479b1977</string>
</dict>
</plist>